# Interface where servers listen (adds loopback automatically)
# TODO: make this find the interface automatically
interface=enp2s0
# DHCP address range
dhcp-range=10.0.0.100,10.0.0.110
# DHCP domain
#TODO: make "austin" be the cluster name
domain=austin.local
# DHCP boot program: lpxelinux.0 enables HTTP/FTP access to files which is MUCH faster than TFTP
dhcp-boot=lpxelinux.0,utility,10.0.0.1
# Set up TFTP server
enable-tftp
tftp-root=/tftpboot

# Per-machine settings
#TODO: generate these automatically
dhcp-host=90:2b:34:14:f6:6a,10.0.0.10,austin-1
#dhcp-option=force=90:2b:34:14:f6:6a,209,austin-1
