
default coreos
prompt 1
timeout 15

display boot.msg

label coreos
  menu default
  kernel http://10.0.0.1/coreos/coreos_production_pxe.vmlinuz
  append initrd=http://10.0.0.1/coreos/coreos_production_pxe_image.cpio.gz coreos.first_boot=1 coreos.config.url=http://10.0.0.1/coreos/pxe-ignition.json coreos.autologin=tty1
